.section-mentions {
  margin-top: 30px;
  &:nth-child(1) {
    margin-top: 40px;
  }
  &:last-child {
    margin-bottom: 50px;
  }
}

.mentions {
  &__title {
    h2 {
      font-size: 2.6rem;
      text-transform: uppercase;
      color: $text-color-brown;
    }
  }
  &__text {
    font-size: 1.4rem;
    color: $text-color-brown;
    text-align: justify;
  }
}

/**********************
Media Queries

**********************/

@media screen and (max-width: 767px) {
  .section-mentions {
    &:nth-child(1) {
      margin-top: 80px;
    }
  }
}
