.header {
  @include clearfix();
  z-index: 10;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 20px;
  position: absolute;

  &__logo {
    float: left;
    // overflow: hidden;
    font-family: "Cookie", serif;
    /* background-color: white; */
    font-style: italic;
    font-size: 4.5rem;
    // font-weight: 700;
    color: #fff;

    img {
      display: block;
      float: left;
    }
  }

  &__logo--mobile {
    display: none;
  }

  &__nav {
    float: right;
    margin-top: 8px;
  }

  // Mobile Menu

  &__nav--mobile {
    display: none;
    position: absolute;
    top: 0;
    padding-top: 51px;
    left: 0;
    height: 100vh;
    z-index: 100;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);

    .menu--mobile {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .menu-item {
        display: block !important;
        font-size: 2.6rem;
        padding: 1.4rem 0;
        color: #000;
        border-bottom: 1px solid #000;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        &:nth-child(1) {
          &:after {
          }
          &:hover {
          }
        }

        &:nth-child(2) {
          &:after {
          }

          &:hover {
          }
        }

        &:nth-child(3) {
          &:hover {
          }
          &:after {
          }
        }

        &:nth-child(4) {
          &:hover {
          }
          &:after {
          }
        }

        a {
          border: none;
        }

        &:hover {
          display: block;
          text-decoration: none;
        }
      }
    }
  }
}

// Desktop menu

.menu {
  .menu-item {
    color: #fff;
    margin: 0 9px;
    padding-bottom: 12px;
    padding-top: 14px;
    display: inline-block;
    text-align: center;

    position: relative;
    background-position: 0 100px;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: bottom;
    width: initial;
    line-height: 1.58rem;
    transition: all 0.3s;

    &:after {
    }

    &:nth-child(1) {
      &:after {
      }
    }
    &:nth-child(2) {
      &:after {
      }
    }

    &:nth-child(3) {
      &:after {
      }
    }

    &:nth-child(4) {
      &:after {
      }
    }

    &:hover,
    &.current-menu-item {
    }

    &.current-menu-item {
      // font-weight: 800;
    }

    a {
      line-height: 1.1rem;
    }
  }
}

/*------------------------------------*\
    $MENU
\*------------------------------------*/

/*********************
Mobile Nav
*********************/

/**** Hamburger ****/

.hamburger-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 47px;
  color: $text-color-brown;
  z-index: 999;
  height: 47px;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.hamburger-icon span {
  position: relative;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  color: $text-color-brown;
  background-color: #fff;
  -webkit-transition: -webkit-background 0.5s;
  transition: background 0.5s;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 2px;
    color: $text-color-brown;
    content: "";
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  &:before {
    top: 0;
  }
  &:after {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    top: 0;
  }
}
.hamburger-icon.is-opened span {
  background: transparent;
}

.hamburger-icon.is-opened span::before {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
  background-color: $text-color-brown;
}

.hamburger-icon.is-opened span::after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
  background-color: $text-color-brown;
}

.hamburger-icon.is-opened {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/******************************
MEDIA QUERIES
******************************/

@media screen and (min-width: 1200px) {
}

@media screen and (max-width: 990px) and (min-width: 768px) {
}

@media screen and (min-width: 990px) {
}

@media screen and (max-width: 990px) {
}

@media screen and (max-width: 767px) {
  .header {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;

    position: absolute;

    &__logo {
      &--mobile {
        width: 180px;
      }
      img {
      }
    }

    &__nav {
      display: none;
    }

    &__logo {
      font-size: 3.5rem;

      margin-top: 1.5rem;
      margin-left: 2rem;
    }
  }

  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    position: absolute;
    top: 51px;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #fff;

    .top-nav {
      float: none;
      text-align: center;

      .menu-item {
        display: block !important;
        font-size: 20px;
        color: #000;
        text-align: center;
        text-decoration: none;
        border-top: 1px solid #000;

        a {
          border: none;
        }

        &:hover {
          display: block;
          text-decoration: none;
          background: #000;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .hamburger-icon {
    display: none !important;
  }

  .mobile-header img {
    width: 100px;
  }
}

@media screen and (max-width: 480px) {
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
}

@media print and (min-width: 5in) {
}
